/* Color Variables */
/* color */
.color, .icon-big, nav ul.menu li a:hover, .pushy .menu li a:hover, .pushy .bottom-content a:hover, .title-section h3, .number, .portfolio-filter li.active a, .portfolio-filter li.active h4, .accordion .accordion-navigation.active > a, .accordion li.active > a, ul.service-tab li.active a i, ul.social-links li a:hover, .portfolio-item figure figcaption > span a:hover, ul.social-team li a:hover, ul.category-menu li a:hover, ul.category-menu li i, div.popular-tags a:before, div.popular-tags a:hover, a.reply:link, a.reply:visited, ul.project-detail li i:hover, ul.menu-list>li:hover>a, .cbp-l-grid-slider-team-social a:hover {
  color:#fff;
}

/* background */
a.slider-link:link, a.slider-link:visited, a.link-btn span, .button, button#submit, ul.pagination li.current a, .cbp-l-caption-buttonLeft, .cbp-l-caption-buttonRight, .cbp-l-filters-alignCenter .cbp-filter-counter, .cbp-l-filters-alignRight .cbp-filter-item-active, .cbp-l-filters-alignCenter .cbp-filter-item-active {
  background: #ffd200;
}
.btn.link-btn span{
	background:rgba(255, 255, 255, 0.93);
}
/* hover-state */
.button:hover, a.link-btn::before, button#submit:hover, ul.pagination li.current a:hover, .cbp-l-caption-buttonLeft:hover, .cbp-l-caption-buttonRight:hover {
  background: #2B2D42;
  color:#fff;
}

/* selected link on menu */
li.active a{
	color: #ffd200 !important;
}

/* filter counter in portfolio */
.cbp-l-filters-alignCenter .cbp-filter-counter::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffd200;
}

div.service .cbp-item-wrapper {
    background-color: #2B2D42;
}

.accordion .accordion-navigation > .content.active, .accordion li > .content.active {
    background: none repeat scroll 0 0 #fff;
}

